/* COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A */

h3 {
  color: #553100;
}
h5 {
  color: #553100;
}
body {
  font: 1.2em / 1.5 sans-serif;
  background-color: #D4A76A;
}

header {
  /* Add styles here */
  background-color: #FFDBAA;
  /* padding: top right bottom left */
  padding: 0px 20px 0px 20px;
  /* padding-left: 20px;
  padding-right: 20px; */
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  max-width: 400px;
  list-style: none;
  padding: 0;
  margin: 0;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  gap:20px;
}

nav a:link,
nav a:visited {
  background-color: #805215;
  color: white;
  padding: 0.5em;
  display: inline-block;
  text-decoration: none;
}

.card {
  background: white;
  flex: 1;
  text-align: center;
  padding: 16px;
  border: 2px solid;
}

.cards {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}